:root {
  --main-text-font: "Signika Negative", sans-serif;
  --text-font: "Asap", sans-serif;
  --main-text-col: #229fbd;
  --text-color: rgb(1, 48, 72);
}

.wrapper {
  margin: 120px 60px 60px;
}

.navbar {
  z-index: 1;
}
.on-top {
  position: fixed !important;
  top: 0;
  width: 100%;
}
.bg-col {
  background: #e7eef0;
}
.bar-text {
  font-family: var(--text-font);
}

.heading-text {
  font-family: var(--main-text-font);
  font-size: 40px;
  color: var(--text-color);
  margin: 40px auto;
}

.description {
  font-family: var(--text-font);
  font-size: 23px;
  color: var(--text-color);
  padding: 30px 30px;
  background: rgba(34, 159, 189, 0.2);
  border-radius: 20px;
  max-width: 900px;
  display: block;
  margin: auto;
  margin-bottom: 60px;
}

.links {
  text-align: center;
}

.see-projects-link {
  font-family: var(--main-text-font);
  font-size: 20px;
  padding: 20px 30px;
  border: 1px solid var(--main-text-col);
  background: white;
  color: var(--main-text-col);
  border-radius: 20px;
  transition: ease-in-out 200ms;
}

.see-projects-link:hover {
  background: #5ba3cc;
  color: white;
  border: 1px solid #5ba3cc;
  font-size: 23px;
}

.picture-projects {
  margin: 60px auto;
}

.singing-image {
  width: 80%;
  height: auto;
  padding: 20px;
}

.weather-image {
  width: 90%;
  height: auto;
  padding: 20px;
}

.project-name {
  font-family: var(--main-text-font);
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.project-description {
  font-family: var(--text-font);
  font-size: 20px;
  color: var(--text-color);
}
