:root {
  --text-color: rgb(1, 48, 72);
  --button-shadow: rgba(1, 48, 72, 0.2) 0px 7px 29px 0px;
  --padding-inside-link: 15px 10px;
  --main-text-col: #229fbd;
  --main-text-font: "Signika Negative", sans-serif;
  --text-font: "Asap", sans-serif;
}

.navbar {
  z-index: 1;
}
.on-top {
  position: fixed !important;
  top: 0;
  width: 100%;
}
.bg-col {
  background: #e7eef0;
}
.bar-text {
  color: var(--text-color) !important;
  font-family: var(--text-font);
}

.upper-wrapper {
  text-align: center;
  margin: 150px 50px;
  margin-bottom: 60px;
}

.text-information {
  margin-top: 169px;
}

.subheading {
  color: var(--text-color);
  font-size: 40px;
  font-family: var(--text-font);
}

.name {
  color: var(--main-text-col);
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 50px;
  font-family: var(--main-text-font);
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.links a {
  margin: 20px;
  font-family: var(--text-font);
  font-size: 27px;
}

.contact-link,
.about-link {
  padding: var(--padding-inside-link);
  border: 1px solid var(--text-color);
  box-shadow: var(--button-shadow);
  border-radius: 40px;
  flex: 1;
  max-width: 250px;
  color: var(--text-color);
}

.about-link:hover,
.contact-link:hover {
  color: var(--main-text-col);
}

.projects {
  margin-top: 250px !important;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
}

.weather,
.sing-img {
  max-width: 400px;
  height: auto;
  /* max-height: 400px; */
  width: 100%;
  /* height: 100%; */
  display: block;
  text-align: center;
  margin: auto;
  /* margin-left: 80px; */
}

.project-name {
  font-family: var(--main-text-font);
  font-size: 40px;
  margin-bottom: 30px;
}

.description {
  font-family: var(--text-font);
  font-size: 20px;
  margin-bottom: 20px;
}

.first-project {
  margin-bottom: 60px;
}

.launch-button {
  font-size: 18px;
  background: #5ba3cc;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  display: inline-block;
}

.launch-button:hover {
  background: white;
  border: 1px solid var(--text-color);
  color: var(--main-text-col);
}

@media screen and (max-width: 600px) {
  .text-information {
    margin-top: 100px;
  }
  .subheading {
    font-size: 30px;
  }
  .name {
    font-size: 40px;
  }
  .contact-link,
  .about-link {
    font-size: 25px !important;
  }

  .links {
    display: grid;
    margin-top: 40px;
    margin-bottom: 5px !important;
  }

  .contact-link {
    margin-bottom: 10px !important;
  }

  .contact-link,
  .about-link {
    width: 350px;
  }

  .upper-wrapper {
    margin-bottom: 100px;
  }

  .projects {
    /* margin-top: 85px !important; */
    margin: 85px 40px !important;
    padding: 0;
  }

  .sing-img,
  .weather {
    display: block;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    /* margin-left: 15px; */
    padding: 20px;
  }

  .second-project {
    display: none;
  }
}
